:root {
  --bg: var(--ct-color-bg); /*#f4f6f8; /* fallback */
  --fg: #333;
  --panel-bg: #fff;
  --border: #ccc;
  --shadow: rgba(0, 0, 0, 0.05);
  --chart-bg: #fff;
  --chart-border: #ddd;
  --chart-grid: gray;
  --accent: #328181;
  --annotation-label-bg: rgba(255, 0, 0, 0.1);
  --annotation-label-fg: gray;
}

/* Асноўны фон і шрыфт */
body {
  font-family: "Segoe UI", "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 1em;
}

/* Загаловак */
h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: var(--fg);
}

/* Контэйнер старонкі */
#page {
  max-width: 2400px;
  margin: auto;
  background-color: var(--panel-bg);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow);
}

/* Панэль выбару */
div[style*="display: flex"] {
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

/* Элементы формы */
label {
  font-weight: bold;
  margin-right: 0.5em;
  color: var(--fg);
}

select {
  padding: 0.4em 0.6em;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 1em;
}

#diskTypeLabel {
  font-style: italic;
  color: var(--fg);
}

/* Графік */
canvas#chart {
  width: 90%;
  height: 300px;
  max-width: 2400px;
  max-height: 666px;
  border: 1px solid var(--chart-border);
  border-radius: 4px;
  background-color: var(--chart-bg);
  grid: var(--chart-grid);
  box-shadow: 0 0 4px var(--shadow);
}
